@model OctokitDemo.Controllers.CummlativeFlowDiagram

@{
    Layout = "";
    ViewBag.Title = "Report";
}
<link href="~/flot/examples/examples.css" rel="stylesheet" />
           
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<!--[if lte IE 8]>
    <script language="javascript" type="text/javascript" src="/flot/excanvas.min.js"></script>
<![endif]-->
<script type="text/javascript" src="/flot/jquery.flot.min.js"></script>
<script type="text/javascript" src="/flot/jquery.flot.time.js"></script>
<script type="text/javascript" src="/flot/jquery.flot.stack.js"></script>
<script type="text/javascript" src="/flot/jquery.flot.symbol.js"></script>
<script>

    @{

        var states = Model.States.ToList();
        states.Reverse();
    }

    function gd(year, month, day) {
        return new Date(year, month - 1, day).getTime();
    }

    var dataset = [
        @foreach (var item in states)
        {
            <text>{
                label:'@item',
                data: [
                @Model.Items.Select(a => "[gd(" + a.Period.Year + "," + a.Period.Month + "," + a.Period.Day + ")," + a.Phases.Single(b => b.Name == item).Count + "]").Aggregate((a, b) => a + "," + b) ],
           },
           </text>
        }
    ];

    var options = {
        series: {
            stack: true,
            lines: {
                show: true,
                fill: true
            }
        },
        xaxis: {
            mode: "time",
            tickSize: [3, "day"],
            tickLength: 10,
            color: "black",
            axisLabel: "Date",
            axisLabelUseCanvas: true,
            axisLabelFontSizePixels: 12,
            axisLabelFontFamily: 'Verdana, Arial',
            axisLabelPadding: 10
        },
        yaxis: {
            color: "black",
            axisLabel: "Issue Count",
            axisLabelUseCanvas: true,
            axisLabelFontSizePixels: 12,
            axisLabelFontFamily: 'Verdana, Arial',
            axisLabelPadding: 3,
            tickFormatter: function(v, axis) {
                return v;
            }
        },
        grid: {
            hoverable: true,
            borderWidth: 2,
            backgroundColor: {
                colors: ["#EDF5FF", "#ffffff"]
            }
        }
    };

    $(document).ready(function() {
        $.plot($("#placeholder"), dataset, options);

        //$("#placeholder").UseTooltip();
    });
    </script>

    <h2>Cumulative Flow Diagram</h2>

    <div class="demo-container">
        <div id="placeholder" class="demo-placeholder"></div>
    </div>
